<mat-toolbar fxLayout="row">
  <button mat-icon-button (click)="back()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span style="text-transform: capitalize;" fxFlex>{{title}}</span>
</mat-toolbar>
<div fxLayout="row">
  <div fxFlexFill>
    <form novalidate [formGroup]="questionForm" style="padding: 24px;" (ngSubmit)="submit()">
    <p>
      <textarea [froalaEditor]="configOptionsForEditor" formControlName="question"  required></textarea>
    </p>
    <p>
      <mat-form-field class="full-width">
        <input matInput placeholder="Option A" formControlName="option_a" required>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="full-width">
        <input matInput placeholder="Option B" formControlName="option_b" required>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="full-width">
        <input matInput placeholder="Option C" formControlName="option_c"  required>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="full-width">
        <input matInput placeholder="Option D" formControlName="option_d"  required>
      </mat-form-field>
    </p>
    <button mat-raised-button color="primary"
            [disabled]="questionForm.invalid || questionForm.pristine" style="float: right; margin-right: 24px;">
      <mat-icon>save</mat-icon>
      Save
    </button>
    </form>
  </div>
</div>
