<div class="container-fluid">
  <mat-toolbar fxLayout="row">
    <div fxFlex>
      Question List
    </div>
    <div fxFlex fxLayoutAlign="end">
      <button mat-button (click)="openDialog('create')">
        <mat-icon>add</mat-icon>
        Question
      </button>
    </div>
  </mat-toolbar>
</div>
<div fxLayout="row" class="container-fluid">
  <div fxFlexFill *ngIf="questions$ | async as questions">
    <question-list-item *ngFor="let question of questions; let i = index" [question]="question" [questionIndex]="i"></question-list-item>
  </div>
</div>
